<mat-toolbar>
  <button
  (click)="drawer.toggle()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Colegio Hogwarts de Magia y Hechiceria</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
   <app-nav-menu />
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-alumnos />
  </div>
</mat-drawer-container>
