<form class="grid formgrid">
  <div class="col-12">
    <h2>Iniciar Sesión</h2>
  </div>
  <mat-form-field class="col-12">
    <mat-label>Email</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field class="col-12">
    <mat-label>Contraseña</mat-label>
    <input matInput />
  </mat-form-field>
  <div class="col-12 d-flex justify-content-end">
    <button mat-raised-button color="primary" type="submit">
      Iniciar Sesión
    </button>
    <button mat-raised-button color="primary" type="submit">
      Registrarse
    </button>
  </div>
</form>
