main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(140deg, rgb(18, 153, 198) 0%, rgb(181, 161, 161) 100%);
}
